body {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 0;
	font-family: 'Verdana', sans-serif;
}

.main {
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.yandex_line {
    display: flex;
	align-items: center;
}
.image_logo_yandex {
	width: 100px;
	height: 50px;
	margin: 0 20px;
}

.line {
    border: 2.5px solid #fc0;
	border-radius: 10px;
	background-color: #fc0;
	display: flex;
	align-items: stretch;
	justify-content: center;
}

.input_line {
    border-radius: 9px;
    border: none;
    width: 450px;
    padding: 10px;
    font-size: 15px;
    outline: none;
}

.button {
    display: flex;
    font-size: 15px;
	border: none;
	background-color: #fc0;
	padding: 12px;
	margin: 0 10px;
}
.content {
    margin-left: 100px;
    padding: 0;
    list-style: 0;

}
.error404 {
    max-width: 1000px;
	margin-left: 100px;

}
.h1__text_404 {
	font-size: 26px;
    font-weight: 400;
	margin-top: 30px;
	margin-bottom: 5px;
}

.h1__text_404_2 {
    font-size: 15px;
	margin-top: 0 0 30px 0;
	font-weight: 200;
	margin-bottom: 20px;
	margin-top: 0px;
}

.a__write_to_us {
    text-decoration: none;
	color: #0054b9;
}

.a__write_to_us:hover {
	color: #dc3b3b;
}


.services__ul {
    column-count: 2;
    list-style: none;
    padding: 0;
    margin: 0;

}
.services__li {
    padding-left: 1.5em;
    margin-top: 0;
    background-image: var(--img);
    background-size: 1em;
    background-repeat: no-repeat;
    background-position: 0% 0%;
    margin-bottom: 4px;
}

.services__li a {
    text-decoration: none;
    color: #0054b9;
}

.services__li a:hover {
    text-decoration: none;
    color: #dc3b3b;
}

.footer__ul {
    display: flex;
    align-items: center;
}

.footer__link {
    color: gray;
    transition: .2s;
    margin-left: 0;
    margin-right: 20px;
    text-decoration: none;
}

.footer__link:hover {
    color: rgb(41, 41, 41);
    text-decoration: none;
}

.footer__li {
    list-style: none;
}

.footer {
    position: sticky;
    background-color: rgb(255, 255, 255);
    bottom: 0;
}
